<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/">Recargar</a>
    <p>Welcome to <%= title %></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, dolor eveniet! Sint nulla non asperiores impedit assumenda laudantium aut autem repellat perspiciatis totam, doloribus sunt enim, esse eos velit, dignissimos eligendi molestiae ex facere consectetur quae vitae rem! Doloribus laboriosam repellat accusantium recusandae iusto error, quis quidem quam provident officiis minima iste. Inventore minima iure ipsam tempora! Error suscipit distinctio beatae odio, sed voluptatibus ipsa aliquid et necessitatibus fugit quis iusto ab? Nemo amet reiciendis cum nulla voluptatibus laudantium nam laboriosam accusantium facere repudiandae officiis, tempore fuga praesentium eveniet ipsa natus quas. Natus corporis molestiae error alias saepe, nesciunt at architecto dicta recusandae porro itaque minima molestias magni? Vero soluta sequi qui, facilis facere sunt optio tempora numquam esse deleniti accusamus explicabo tempore adipisci similique, et vel libero. Velit saepe aut eveniet architecto vel doloribus molestias veritatis fuga laborum cupiditate impedit veniam, iusto debitis earum, consequuntur, in totam tempora beatae tempore exercitationem nisi autem soluta blanditiis delectus. Tempore, eaque accusamus asperiores debitis temporibus est soluta, doloribus id commodi adipisci quia, quas enim exercitationem esse fuga ad totam numquam explicabo. Repellendus ratione explicabo ex iusto dolores asperiores aliquam sunt necessitatibus quia totam nesciunt error velit earum consequuntur, dicta pariatur distinctio incidunt!</p>
  </body>
</html>
